﻿@using System.Collections.Generic;

@{
    List<string> greetings = new List<string>
    {
        "Hello",
        "Hola",
        "Hi",
        "Wassup",
        "Bro",
        "Broseph",
        "Brosephina",
    };

    for(int i = 0; i < greetings.Count; i++)
    {
        <h1>@greetings[i]</h1>
    }
}